## Books Recommender System using Clustering (Collaberative method)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
books=pd.read_csv("E:\\Book-Recommendation-System\\Data\\books_data\\books.csv",sep=";",on_bad_lines='skip',encoding="latin-1")

C:\Users\HP\AppData\Local\Temp\ipykernel_6236\2636990666.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv("E:\\Book-Recommendation-System\\Data\\books_data\\books.csv",sep=";",on_bad_lines='skip',encoding="latin-1")

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
books.shape

(271360, 8)

In [5]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [6]:
# Selecting the important columns
books=books[['ISBN','Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher','Image-URL-L']]

In [7]:
books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...

In [8]:
# Rename the column name
books.rename(columns={
    "Book-Title":"title",
    "Book-Author":"author",
    "Year-Of-Publication": "year",
    "Publisher":"publisher",
    "Image-URL-L":"img_url" ,    
},inplace=True)

In [9]:
books.head()

,ISBN,title,author,year,publisher,img_url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [10]:
# User Information dataset
user=pd.read_csv("E:\\Book-Recommendation-System\\Data\\books_data\\users.csv",sep=";",on_bad_lines='skip',encoding="latin-1")

In [11]:
user.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [12]:
user.shape

(278858, 3)

In [13]:
# Rating Information Dataset
# It is the most important data
rating=pd.read_csv("E:\\Book-Recommendation-System\\Data\\books_data\\ratings.csv",sep=";",on_bad_lines='skip',encoding="latin-1")

In [14]:
rating.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [15]:
rating['Book-Rating'].unique()

array([ 0,  5,  3,  6,  8,  7, 10,  9,  4,  1,  2], dtype=int64)

In [16]:
rating.shape

(1149780, 3)

In [17]:
rating.rename(columns={
    "User-ID":"user_id",
    "Book-Rating":"rating"
    
},inplace=True)

In [18]:
rating.head()

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [19]:
# User id has rated how many books
rating['user_id'].value_counts()

user_id
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: count, Length: 105283, dtype: int64

In [20]:
# We will take the users who have rated more than 200 books
rating['user_id'].unique().shape

(105283,)

In [21]:
x=rating['user_id'].value_counts() > 200

In [22]:
x

user_id
11676      True
198711     True
153662     True
98391      True
35859      True
          ...
116180    False
116166    False
116154    False
116137    False
276723    False
Name: count, Length: 105283, dtype: bool

In [23]:
x[x].shape

(899,)

In [24]:
y=x[x].index

In [25]:
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727, 268622,
       188951],
      dtype='int64', name='user_id', length=899)

In [26]:
# User index who has rating more than 200
rating=rating[rating["user_id"].isin(y)]
rating

         user_id        ISBN  rating
1456      277427  002542730X      10
1457      277427  0026217457       0
1458      277427  003008685X       8
1459      277427  0030615321       0
1460      277427  0060002050       0
...          ...         ...     ...
1147612   275970  3829021860       0
1147613   275970  4770019572       0
1147614   275970   896086097       0
1147615   275970  9626340762       8
1147616   275970  9626344990       0

[526356 rows x 3 columns]

In [27]:
rating.shape

(526356, 3)

In [28]:
books.columns

Index(['ISBN', 'title', 'author', 'year', 'publisher', 'img_url'], dtype='object')

In [29]:
rating.columns

Index(['user_id', 'ISBN', 'rating'], dtype='object')

In [30]:
# Merging the ratings to ur books, books rated more than 200 times
rating_books=rating.merge(books,on="ISBN")

In [31]:
rating_books.columns

Index(['user_id', 'ISBN', 'rating', 'title', 'author', 'year', 'publisher',
       'img_url'],
      dtype='object')

In [32]:
rating_books.shape

(487671, 8)

In [33]:
num_rating=rating_books.groupby('title')['rating'].count().reset_index()

In [34]:
num_rating

                                                    title  rating
0        A Light in the Storm: The Civil War Diary of ...       2
1                                   Always Have Popsicles       1
2                    Apple Magic (The Collector's series)       1
3        Beyond IBM: Leadership Marketing and Finance ...       1
4        Clifford Visita El Hospital (Clifford El Gran...       1
...                                                   ...     ...
160264  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...       3
160265                                      Ã?Â?lpiraten.       1
160266                     Ã?Â?rger mit Produkt X. Roman.       1
160267                              Ã?Â?stlich der Berge.       1
160268                                  Ã?Â?thique en toc       1

[160269 rows x 2 columns]

In [35]:
num_rating.rename(columns={'rating':'number_of_rating'},inplace=True)

In [36]:
num_rating.head()

                                               title  number_of_rating
0   A Light in the Storm: The Civil War Diary of ...                 2
1                              Always Have Popsicles                 1
2               Apple Magic (The Collector's series)                 1
3   Beyond IBM: Leadership Marketing and Finance ...                 1
4   Clifford Visita El Hospital (Clifford El Gran...                 1

In [37]:
rating_books.columns

Index(['user_id', 'ISBN', 'rating', 'title', 'author', 'year', 'publisher',
       'img_url'],
      dtype='object')

In [38]:
#merge the num_rating with rating_books
final_rating=rating_books.merge(num_rating,on='title')
final_rating.columns

Index(['user_id', 'ISBN', 'rating', 'title', 'author', 'year', 'publisher',
       'img_url', 'number_of_rating'],
      dtype='object')

In [39]:
final_rating.shape

(487671, 9)

In [40]:
# Filter books which has more than 50 ratings
final_rating=final_rating[final_rating['number_of_rating']>50]

In [41]:
final_rating

,user_id,ISBN,rating,title,author,year,publisher,img_url,number_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
...,...,...,...,...,...,...,...,...,...
228881,127233,0061090956,0,Still Waters,Kerry Tucker,1992,Harper Mass Market Paperbacks (Mm),http://images.amazon.com/images/P/0061090956.0...,83
228882,262399,0061090956,0,Still Waters,Kerry Tucker,1992,Harper Mass Market Paperbacks (Mm),http://images.amazon.com/images/P/0061090956.0...,83
228883,178667,074350996X,0,Still Waters,Jennifer Lauck,2001,Simon &amp; Schuster Audio,http://images.amazon.com/images/P/074350996X.0...,83
228884,185233,074350996X,0,Still Waters,Jennifer Lauck,2001,Simon &amp; Schuster Audio,http://images.amazon.com/images/P/074350996X.0...,83
228885,264317,0613224450,0,Still Waters,Tami Hoag,1992,Sagebrush Bound,http://images.amazon.com/images/P/0613224450.0...,83

In [42]:
final_rating.iloc[254]

user_id                                                        102967
ISBN                                                       0060934417
rating                                                              0
title                                              Bel Canto: A Novel
author                                                   Ann Patchett
year                                                             2002
publisher                                                   Perennial
img_url             http://images.amazon.com/images/P/0060934417.0...
number_of_rating                                                  108
Name: 427, dtype: object

In [43]:
# Final Data Frame
final_rating.shape

(59903, 9)

In [44]:
# Delete the duplicate information(If any)
final_rating.drop_duplicates(["user_id","ISBN","rating","title","author","year","publisher","img_url","number_of_rating"],inplace=True)

In [45]:
final_rating.shape

(59903, 9)

In [46]:
# We will be using Pivot Table
book_pivot=final_rating.pivot_table(columns='user_id',index='title',values='rating')

In [47]:
book_pivot
# NAN Means user has given zero raing

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
book_pivot.index[237]

'Hemlock Bay'

In [48]:
# Filling the nan value with zero
book_pivot.isnull().sum()

user_id
254       645
2276      673
2766      657
2977      685
3363      621
         ...
275970    614
277427    607
277478    685
277639    677
278418    560
Length: 888, dtype: int64

In [49]:
book_pivot.fillna(0,inplace=True)

In [50]:
book_pivot.isnull().sum()

user_id
254       0
2276      0
2766      0
2977      0
3363      0
         ..
275970    0
277427    0
277478    0
277639    0
278418    0
Length: 888, dtype: int64

In [51]:
# We donot want to take the zero value in the model , so we will use csr matrix in which zero value will not be considered
# When we will calculate the distance with the rows and columns,It will calculate those will have some kind of quantity it will not take the zero value
from scipy.sparse import csr_matrix

In [52]:
book_sparse=csr_matrix(book_pivot)

In [53]:
book_sparse
# Contains value without zero

<703x888 sparse matrix of type '<class 'numpy.float64'>'
	with 14787 stored elements in Compressed Sparse Row format>

In [54]:
# Now Pass it to the algoritm
# Import the clustering algorithm
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(algorithm='brute')

In [55]:
# Fit the data
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [56]:
# The above algorithm returns 2 value one distance and one suggestion (index of the values)
# n_neighbors= How many numbers I want to get as output(suggestion)
# user 254
distance,suggestion=model.kneighbors(book_pivot.iloc[254,:].values.reshape(1,-1),n_neighbors=6)

In [57]:
# Book title
book_pivot.index[254]

'I Know This Much Is True'

In [58]:
distance

array([[ 0.        , 41.91658383, 42.88356328, 43.62338822, 44.01136217,
        44.36214603]])

In [59]:
suggestion

array([[254, 416, 173, 356, 277, 142]], dtype=int64)

In [60]:
# Name of the suggested books
for i in range(len(suggestion)):
    print(book_pivot.index[suggestion[i]])

Index(['I Know This Much Is True', 'Sea Glass: A Novel', 'Exclusive',
       'No Safe Place', 'Jacob Have I Loved',
       'Deck the Halls (Holiday Classics)'],
      dtype='object', name='title')

In [61]:
# Saving my books name for creating webapp (pickle Format)
book_name=book_pivot.index

In [62]:
book_name

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       '84 Charing Cross Road', 'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='title', length=703)

In [63]:
# Define directories
model_dir = 'E:\\Book-Recommendation-System\\artifacts\\model'
book_name_dir = 'E:\\Book-Recommendation-System\\artifacts\\book_name'
final_rating_dir = 'E:\\Book-Recommendation-System\\artifacts\\final_rating'
book_pivot_dir = 'E:\\Book-Recommendation-System\\artifacts\\book_pivot'

In [64]:
# Create directories if they don't exist
import os
os.makedirs(model_dir, exist_ok=True)
os.makedirs(book_name_dir, exist_ok=True)
os.makedirs(final_rating_dir, exist_ok=True)
os.makedirs(book_pivot_dir, exist_ok=True)

In [65]:
# Save the model, book_name, final_rating
import pickle
pickle.dump(model, open(os.path.join(model_dir, 'model.pkl'), 'wb'))  # Clustering model
pickle.dump(book_name, open(os.path.join(book_name_dir, 'book_name.pkl'), 'wb')) # All books name
pickle.dump(final_rating, open(os.path.join(final_rating_dir, 'final_rating.pkl'), 'wb'))  # Entire Data, we want the url for rendering the posters
pickle.dump(book_pivot, open(os.path.join(book_pivot_dir, 'book_pivot.pkl'), 'wb')) # whe ever we will compare the index(book name)  and poster index

In [68]:
np.where(book_pivot.index=="84 Charing Cross Road")
## np.where(book_pivot.index=="84 Charing Cross Road")[0][0]

(array([4], dtype=int64),)

In [69]:
# Recommandation Process(testing)
def recommend_book(book_name): # Take Book name from the user
    book_id= np.where(book_pivot.index==book_name)[0][0] # Identify the book id # Find the index with respect to the name # If it is true then we will take the name
    distance,suggestion=model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1),n_neighbors=6)

    for i in range(len(suggestion)):
        books=book_pivot.index[suggestion[i]]  # Give all the suggested books name
        for  j in books:
            print(j)

In [71]:
recommend_book('A Bend in the Road')
# While creating the application , we will ignore the first one

A Bend in the Road
Exclusive
The Cradle Will Fall
No Safe Place
Last Man Standing
Family Album